/Projects/ProjectBeagle.X/nbproject/private/
/Projects/ProjectBeagle.X/build/default/
/Projects/ProjectBeagle.X/dist/default/
/Projects/ProjectClover.X/nbproject/private/
/Projects/ProjectClover.X/build/default/
/Projects/ProjectClover.X/dist/default/
/Projects/ProjectDallas.X/nbproject/private/
/Projects/ProjectDallas.X/build/default/
/Projects/ProjectDallas.X/dist/default/